{% extends "auctions/layout.html" %}

{% block title %} 
    {{ listing.title }}
{% endblock %}

{% block body %}

    {% if listing.winner is None %}
        {% if owner %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Close Listing" name="close">
            </form>
        {% endif %}
    {% else %}
        <h3>Listing Closed</h3>
        <h4>Winner: {{ listing.winner.username }}</h2>
        {% if owner %}
            <h4>You won this listing</h4>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {% if not watched %}
                <input type="submit" value="Add to watchlist" name="add">
            {% else %}
                <input type="submit" value="Remove from watchlist" name="remove">
            {% endif %}
        </form>
    {% endif %}

    <h4>{{ listing.title }}</h4>
    <ul>
        <li>
            {{ listing.description }}
        </li>
        <li>
            {{ listing.starting_bid }}
        </li>
        <li>
            {{ listing.category }}
        </li>
        {% if listing.image != '' %}
            <li>
                <img src="{{ listing.image }}" width="200" alt="image">
            </li>
        {% endif %}
        <li>
            {% if maxm is not None %}
                Current Bid: {{ maxm }}
            {% else %}
                Current Bid: No Bids Placed.
            {% endif %}
        </li>
    </ul>

    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Bid" name="bid">
        </form>
    {% endif %}

    {% if error %}
        {{ error }}
    {% endif %}

    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Comment" name="comment">
        </form>
    {% endif %}

    <ul>
        {% for comment in comments %}
            <li>
                ({{ comment.author.username }}
                {{ comment.time }})
                {{ comment.content }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}