{% extends "auctions/layout.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} 
    {{ listing.title }}
{% endblock %}

{% block body %}
    <div class="page">
        <div class="buttons">
            {% if listing.winner is None %}
                {% if owner %}
                    <form id="close"c action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Close Listing" name="close">
                    </form>
                {% endif %}
            {% else %}
                <h3>Listing Closed</h3>
                <h4>Winner: {{ listing.winner.username }}</h2>
                {% if owner %}
                    <h4>You won this listing</h4>
                {% endif %}
            {% endif %}
    
            {% if user.is_authenticated %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if not watched %}
                        <input type="submit" class="btn btn-success" value="Add to watchlist" name="add">
                    {% else %}
                        <input type="submit" class="btn btn-secondary" value="Remove from watchlist" name="remove">
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <div class="listing">
            <div class="imgdiv">
                {% if listing.image != '' %}
                    <img id="list-img" src="{{ listing.image }}" alt="image">
                {% else %}
                    <img id="list-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png" width="200" alt="image">
                {% endif %}
            </div>
            <div class="main">
                <a href="{% url 'category' listing.category %}">
                    <h5> {{ listing.category }} </h5>
                </a>
                <h1>{{ listing.title }}</h1>
                {% if listing.winner is None %}
                    <h5 id="avail">In Stock</h5>
                {% else %}
                    <h5 id="noavail">Closed</h5>
                {% endif %}
                <p>
                    {{ listing.description }}
                </p>
                <h3>
                    {% if maxm is not None %}
                        Current Bid: <span style="color: green; font-weight: 600;">₹{{ maxm }}</span>
                    {% else %}
                        Starting Price: <span style="color: green; font-weight: 600;">₹{{ listing.starting_bid }}</span>
                    {% endif %}
                </h3>
                {% if user.is_authenticated %}
                    <form id="bidform" action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Bid" name="bid">
                    </form>
                {% endif %}
                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" value="Comment" name="comment">
        </form>
    {% endif %}

    <ul>
        {% for comment in comments %}
            <li>
                ({{ comment.author.username }}
                {{ comment.time }})
                {{ comment.content }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}