{% extends "auctions/layout.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} 
    {{ listing.title }}
{% endblock %}

{% block body %}
    <div class="page">
        <div class="buttons">
            {% if listing.winner is None %}
                {% if user.is_authenticated %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {% if not watched %}
                            <input type="submit" class="btn btn-success" value="Add to watchlist" name="add">
                        {% else %}
                            <input type="submit" class="btn btn-secondary" value="Remove from watchlist" name="remove">
                        {% endif %}
                    </form>
                {% endif %}
                {% if owner %}
                    <form id="close"c action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Close Listing" name="close">
                    </form>
                {% endif %}
            {% else %}
                <div class="alert alert-info win" role="alert">
                    {% if not owner %}
                        Listing was won by {{ listing.winner.username }}
                    {% else %}
                        You won this listing
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="listing">
            <div class="imgdiv">
                {% if listing.image != '' %}
                    <img id="list-img" src="{{ listing.image }}" alt="image">
                {% else %}
                    <img id="list-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png" width="200" alt="image">
                {% endif %}
            </div>
            <div class="main">
                <a href="{% url 'category' listing.category %}">
                    <h5> {{ listing.category }} </h5>
                </a>
                <h1>{{ listing.title }}</h1>
                {% if listing.winner is None %}
                    <h5 id="avail">In Stock</h5>
                {% else %}
                    <h5 id="noavail">Closed</h5>
                {% endif %}
                <p>
                    {{ listing.description }}
                </p>
                <h3>
                    {% if listing.winner is not None %}
                        Sold At: <span style="color: red; font-weight: 600;">₹{{ maxm }}</span>
                    {% else %}
                        {% if maxm is not None %}
                            Current Bid: <span style="color: green; font-weight: 600;">₹{{ maxm }}</span>
                        {% else %}
                            Starting Price: <span style="color: green; font-weight: 600;">₹{{ listing.starting_bid }}</span>
                        {% endif %}
                    {% endif %}
                </h3>
                {% if user.is_authenticated %}
                    <form id="bidform" action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-dark" value="Bid" name="bid">
                    </form>
                {% endif %}
                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center comments">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4">
                    <div class="form-outline mb-4">
                        {% if user.is_authenticated %}
                            <form action="{% url 'listing' listing.id %}" method="post">
                                {% csrf_token %}
                                    {{ comment_form|crispy }}
                                <input type="submit" class="btn btn-secondary" value="Comment" name="comment">
                            </form>
                        {% endif %}
                        <!-- <input type="text" id="addANote" class="form-control" placeholder="Type comment..." />
                        <label class="form-label" for="addANote">+ Add a note</label> -->
                    </div>
                    {% for comment in comments %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>{{ comment.content }}</p>
    
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <p class="small mb-0 ms-2">{{ comment.author }}</p>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="small text-muted mb-0">{{ comment.time }}</p>
                                    <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                    <!-- <p class="small text-muted mb-0">3</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}